[submodule "manuscript-schema"]
	path = manuscript-schema
	url = https://github.com/ODU-CGA-CubeSat/manuscript-schema.git
[submodule "manuscript-templates"]
	path = manuscript-templates
	url = https://github.com/ODU-CGA-CubeSat/manuscript-templates.git
